<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/answer.css' %}">
</head>

<body>

    <nav>

        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'sign' %}">Sign-up</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'admi' %}">Admin</a>
    </nav>

    {% block cont %}
    <h1>Base page</h1>
    {% endblock %}

</body>

</html>